h1, h3, #play {
    transition: all 0.8s ease, background-color 1ms, color 1ms;
}

h1 {
    font-size: 128px;
}

h3 {
    font-size: 32px;
}

#play {
    margin: 40px 0 0 0;
    width: 200px;
    height: 200px;
}

#play:hover {
    transform: scale(1.4) rotate(360deg);
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 62px;
    }
    h3 {
        font-size: 16px;
    }
    #play {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 12px;
    }
    #play {
        width: 100px;
        height: 100px;
    }
}