* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
}

body {
    margin: 0px;
    background-color: 35495e;
}

h1, h2 {
    margin-top: 15%;
    font-size: 64px;
    color: #ff7e67;
}

h3 {
    margin: 15px 0 15px 0;
    font-size: 16px;
    color: #42b883;
}

span {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 40px 20px 0;
}

a {
    text-decoration: none;
}

.respace {
    width: 100%;
    height: 100px;
}

.centerContainer {
    display: flex;
    justify-content: center; 
}

.rightContainer {
    display: flex;
    justify-content: flex-end; 
}

.leftContainer {
    display: flex;
    justify-content: flex-start; 
}

.brPro {
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
}
